@font-face {
  font-family: 'GameCube';
  src: url(../fonts/GameCube.ttf);
}

@font-face {
  font-family: 'Tomatoes';
  src: url(../fonts/Tomatoes/Tomatoes.ttf);
}

@media only screen and (max-width : 600px) {
  body {
    min-height: 160vh;
  }
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.sidenav-trigger {
  color: #444;
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

label {
  color: #fafafa;
  text-shadow: 1px 1px 2px #000, 1px 1px 2px #000;
}

.hidden {
  display: none !important;
}

.brand-logo {
  font-family: Tomatoes;
  font-weight: bold;
}

.btn {
  color: black;
  box-shadow: 1px 1px 2px #000, 1px 1px 2px #000;
}

h3 {
  color: #fafafa;
  text-shadow: 1px 1px 2px #000, 1px 1px 2px #000;
}

/* Background */
.spring {
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../images/homepage-months/spring.jpg");
  background-size: cover;
}

.summer {
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../images/homepage-months/summer.jpg");
  background-size: cover;
}

.winter {
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../images/homepage-months/winter.jpg");
  background-size: cover;
}

.fall {
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../images/homepage-months/fall.jpg");
  background-size: cover;
}

.christmas {
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../images/homepage-months/christmas.jpg");
  background-size: cover;
}

.halloween {
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../images/homepage-months/halloween.jpg");
  background-size: cover;
}

/* Pomodo */
.progressbar-text {
  font-family: GameCube;
  color: #212121 !important;
  font-size: 75px;
  padding-top: 40px !important;
}

@media only screen and (max-width : 600px) {
  #pomodo-container {
    margin: 25px !important;
  }
  #pomodo-timer {
    margin: 0;
  }
  #pomodo-clock {
    margin-left: -10px;
    margin-right: -10px;
  }
}

#pomodo-container {
  margin: 60px;
  margin-top: 1px;
}

#pomodo-clock {
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;
  min-width: 425px;
}

#pomodo-timer {
  padding-top: 60px;
  max-width: 400px;
  min-width: 380px;
}

/* Style Placeholders */
::-webkit-input-placeholder {
  color: #fafafa;
  text-shadow: 1px 1px 2px #000, 1px 1px 2px #000;
}
::-moz-placeholder {
  color: #fafafa;
  text-shadow: 1px 1px 2px #000, 1px 1px 2px #000;
}
:-ms-input-placeholder {
  color: #fafafa;
  text-shadow: 1px 1px 2px #000, 1px 1px 2px #000;
}
::placeholder {
  color: #fafafa;
  text-shadow: 1px 1px 2px #000, 1px 1px 2px #000;
}

/* Text inputs */
input:not([type]),
input[type=text]:not(.browser-default),
input[type=number]:not(.browser-default),
textarea.materialize-textarea {
  border-bottom: 1px solid #424242;
  color: #fafafa;
  text-shadow: 1px 1px 2px #000, 1px 1px 2px #000;
}

@media only screen and (max-width : 600px) {
  input:not([type]),
  input[type=text]:not(.browser-default),
  input[type=number]:not(.browser-default),
  textarea.materialize-textarea {
    width: 94%;
  }
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fafafa;
  -webkit-box-shadow: 0 1px 0 0 #fafafa;
  box-shadow: 0 1px 0 0 #fafafa;
}

/*Calendar on Mobile*/
@media only screen and (max-width : 600px) {
  .left-side {
    width: 350px;

  }
}

/*Calendar Input*/
input.add-event-day-field,
input.add-event-day-field:focus
{
  border-bottom: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.add-event-day-field::placeholder {
  text-shadow: none;
  color: #fff !important;
}

.calendar .add-event-day .add-event-day-field {
  margin: 0;
}

/* Floating Action Buttons */
.italy {
  background: url("../images/italy.png") !important;
  background-repeat: no-repeat;
}

.england {
  background: url("../images/england.png") !important;
  background-repeat: no-repeat;
}

/* Footer */
footer {
  position: relative;
  display: flex;
}

.page-footer {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-top: unset;
  background:rgba(255,255,255,0.5);
}
