@font-face {
  font-family: 'GameCube';
  src: url(../fonts/GameCube.ttf);
}

@font-face {
  font-family: 'Tomatoes';
  src: url(../fonts/Tomatoes/Tomatoes.ttf);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #dcdcdc;
  font-family: 'Roboto', sans-serif;
}

main {
  flex: 1 0 auto;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.sidenav-trigger {
  color: #444;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.trasparente {
  background: rgba(255, 255, 255, 0.5);
}

.spring {
  background-image: url("../images/homepage-months/spring.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.summer {
  background-image: url("../images/homepage-months/summer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.winter {
  background-image: url("../images/homepage-months/winter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.fall {
  background-image: url("../images/homepage-months/fall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.christmas {
  background: url("../images/homepage-months/christmas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  display: none !important;
}

.brand-logo {
  font-family: Tomatoes;
  font-weight: bold;
}

.progressbar-text {
  font-family: GameCube;
  color: #000 !important;
  font-size: 75px;
  padding-top: 40px !important;
}

#pomodo-container {
  margin: 60px;
  margin-top: 1px;
}

@media only screen and (max-width : 600px) {
#pomodo-container {
  margin: 10px;
  margin-top: 1px;
}
}

#pomodo-clock {
  position: relative;
  margin-top: 80px;
  margin-left: 30px;
  margin-bottom: 60px;
  min-width: 425px;
}

#pomodo-timer {
  padding-top: 60px;
  max-width: 400px;
  min-width: 380px;
  margin: auto;
}

@media only screen and (max-width : 600px) {
#pomodo-timer {
  margin: 40px;
  margin-top: 1px;
}
}

footer {
  position: relative;
  display: flex;
}

.page-footer {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-top: unset;
  background:rgba(255,255,255,0.5);
}
