/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @font-face{
 	font-family: 'GameCube';
 	src: url(../fonts/GameCube.ttf);
 }


 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    max-width: 500px;
    margin: auto;
    flex: 1 0 auto;
  }

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  position: relative;
}

.trasparente {
  opacity: 0.8;
}

.spring {
  background-image: url("../images/homepage-months/spring.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.summer {
  background-image: url("../images/homepage-months/summer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.winter {
  background-image: url("../images/homepage-months/winter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.fall {
  background-image: url("../images/homepage-months/fall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.christmas {
  background: url("../images/homepage-months/christmas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  display: none;
}

.progressbar-text {
  font-family: GameCube;
  color: #000 !important;
  font-size: 75px;
}
